@font-face {
font-family: "Lato";
src: url("Lato-Light.ttf")
}
body {
  background-color: #f1f1f2;
  margin: 0;
}
#wrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
#nav {
  position: sticky;
  top: 180px;
  background-color: #E4ECF2;
}
#content {
  flex: 3;
  height: 1200px;
  background-color: #E4ECF2;
  font-family: "Lato";
  font-size: 16px;
  line-height: 24px;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}
#col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#col-2 {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header {
  width: 100%;
  height: 180px;
  background-color: #044C7F;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer {
  width: 100%;
  height: 100px;
  background-color: #044C7F;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  height: 27px;
  border-bottom: 1px solid #999;
  font-family: "Lato";
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 10px 10px 5px 10px;
}
li:hover {
  background-color: #cbd3d9;
  text-decoration: none;
}
a {
  text-decoration: none;
}
#typografi {
}
#farver {
}
#logo-center {
  margin: 0px 0px 0px 40px;
  width: 170px;
}
section#logo {

}
#navigation {

}
#kontainere {

}
.section-title {
  font-family: "Lato";
  font-size: 34px;
  color: #000;
  padding: 15px 0px 20px 0px;
}

.typo-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #999;
  width: 100%;
  padding: 40px 0px 40px 0px;
  height: 65px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.example {
  right: 0;
  margin: 0px 10px 0px 10px;
  flex: 1;
}

h1 {
  flex: 8;
  font-family: "Lato";
  font-size: 40px;
  margin: 0;
  padding: 0;
}

h2 {
  flex: 8;
  font-family: "Lato";
  font-size: 30px;
  margin: 0;
  padding: 0;
}

h3 {
  flex: 8;
  font-family: "Lato";
  font-size: 20px;
  margin: 0;
  padding: 0;
}

p.description {
  flex: 8;
  font-family: "Lato";
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-color {
  flex: 1;
  height: 30px;
  background-color: #044c7f;
}
.secondary-color {
  flex: 1;
  height: 30px;
  background-color: #216393;
}
.optional-color {
  flex: 1;
  height: 30px;
  background-color: #00a19b;
}
.color-example {
  text-align: center;
  padding: 5px 0px 5px 0px;
}
.logo-example {
  width: 175px;
  height: auto;
  margin: 0px 10px 0px 10px;
  padding: 0px 5px 0px 5px;
  text-align: right;
}
