@font-face {
font-family: "Lato";
src: url("Lato-Light.ttf")
}
@font-face {
font-family: "Lato-Regular";
src: url("Lato-Regular.ttf")
}
@font-face {
font-family: "Cabin-Sketch-Reg";
src: url("CabinSketch-Regular.ttf")
}
body {
  background-color: #E4ECF2;
  margin: 0;
}
#wrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
}
#nav {
  position: sticky;
  top: 180px;
  background-color: #E4ECF2;
}
#content {
  flex: 3;
  background-color: #E4ECF2;
  font-family: "Lato";
  font-size: 16px;
  line-height: 24px;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}
#col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #E4ECF2;
}
#col-2 {
  flex: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header {
  width: 100%;
  height: 180px;
  background-color: #044C7F;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer {
  width: 100%;
  height: 100px;
  background-color: #044C7F;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100%;
}
li {
  list-style: none;
  height: 27px;
  border-bottom: 1px solid #999;
  font-family: "Lato";
  font-size: 17px;
  display: flex;
  align-items: center;
  padding: 10px 10px 5px 10px;
}
li:hover {
  color: white;
  background-color: #044c7f;
}
a:link, a:hover, a:visited, a:active {
  color: #000;
  text-decoration: none;
}
#typografi {
}
#farver {
  border-bottom: 1px solid #999;
  padding: 20px 0px 20px 0px;
}

#button {
  border-bottom: 1px solid #999;
  padding: 20px 0px 20px 0px;
}
#logo-center {
  margin: 0px 0px 0px 40px;
  width: 170px;
}
section#logo {
  border-bottom: 1px solid #999;
  padding: 20px 0px 20px 0px;
}
#navigation {

}
#kontainere {
}
.section-title {
  font-family: "Cabin-Sketch-Reg";
  font-size: 50px;
  color: #fff;
  padding: 15px 0px 30px 0px;
  text-shadow: 3px 3px 1px #666;
}
.typo-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #999;
  width: 100%;
  padding: 40px 0px 40px 0px;
  height: 65px;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.example {
  right: 0;
  margin: 0px 10px 0px 10px;
  flex: 1;
}

h1 {
  flex: 8;
  font-family: "Lato";
  font-size: 40px;
  margin: 0;
  padding: 0;
}

h2 {
  flex: 8;
  font-family: "Lato";
  font-size: 30px;
  margin: 0;
  padding: 0;
}

h3 {
  flex: 8;
  font-family: "Lato";
  font-size: 20px;
  margin: 0;
  padding: 0;
}

p.typo-description {
  flex: 8;
  font-family: "Lato-Regular";
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
p.typo-description1 {
  flex: 8;
  font-family: "Lato-Light";
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
p.typo-description2 {
  flex: 8;
  font-family: "Cabin-Sketch-Reg";
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
p.typo-description3 {
  flex: 8;
  font-family: Verdana;
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-color {
  flex: 1;
  height: 30px;
  background-color: #044c7f;
}
.secondary-color {
  flex: 1;
  height: 30px;
  background-color: #216393;
}
.optional-color {
  flex: 1;
  height: 30px;
  background-color: #00a19b;
}
.color-example {
  text-align: center;
  padding: 5px 0px 5px 0px;
}
.logo-example {
  width: 175px;
  height: auto;
  margin: 0px 10px 0px 10px;
  padding: 0px 5px 0px 5px;
  text-align: right;
}
.logo-wrap {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-button {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100px;
    background-color: #044C7F;
    transition: all 0.3s ease;
    cursor: pointer;
    color: white;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px 10px 10px 10px;
}
.profile-button:hover {
    opacity: 0.5;
}
.nav-button {
  display: flex;
    list-style: none;
    width: 160px;
    height: 40px;
    background-color: #044C7F;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    opacity: 1;
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
    color: white;
    cursor: pointer;
}
.nav-button:hover {
  opacity: 0.5;
}
.comment-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #044C7F;
  color: white;
  font-size: 10px;
  height: 36px;
  width: 100px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.comment-button:hover {
  opacity: 0.5;
}
.boks {
  width: 100%;
  height: 200px;
  background-color: #f1f1f2;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.title-example {
  width: 100%;
  height: 70px;
  background-color: #044c7f;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Lato-Regular";
  font-size: 18px;
}
.description {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-family: "Lato-Regular";
  font-size: 18px;
}
