@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf")
}
* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
}
body {
  background: url("../images/login_bg.jpg");
  background-repeat: : no-repeat;
  background-size: 100%;
}
#container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 720px;
  border-radius: 25px;
  box-shadow: 0px 3px 5px #333;
  padding: 30px 30px 30px 30px;
}
#logo {
  background-image: url("../images/kedu_logo.png");
  width: 175px;
  height: 58px;
  margin: auto;
}
p#text {
  font-family: "Lato-Regular";
  font-size: 16px;
  text-align: center;
  padding: 20px 0px 20px 0px;
}
#accountlinks {
  float: left;
  font-family: "Lato-Regular";
  font-size: 12px;
  line-height: 16px;
}
#accountlinks ul {
  list-style: none;
}
#accountlinks li {
  list-style: none;
}
#input-container {
  width: 450px;
  margin: auto;
  padding-top: 24px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
}
.button {
  width: 150px;
  height: 44px;
  background-color: #216393;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lato-Regular";
  color: #fff;
  float: right;
  border-style: none;
}
.button:hover {
  background-color: #00a19b;
}
.button_left {
  width: 90px;
  height: 44px;
  background-color: #216393;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lato-Regular";
  color: #fff;
  float: left;
  border-style: none;
}
.button_left:hover {
  background-color: #00a19b;
}
a:link, a:active, a:visited {
  color: #505050;
  text-decoration: none;
}
a:hover {
  color: #216393;
}
