* {
  margin: 0;
  padding: 0;
}
body {
  /* font-family:  */

}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf")
}

.logo {
  margin-left: 2%;
  margin-top: 2%;
}

li.active {
  opacity: 0.5;
}

nav {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#nav_undersidebar {
  height: 20px;
  width: 100%;
  background-color: #044C7F;
  margin: auto;
}

li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-family: "Lato-Regular";
}


li {
  display: flex;
  list-style: none;
  width: 160px;
  height: 40px;
  background-color: #044C7F;
  margin: 0px 3px 0px 0px;
  justify-content: center;
  align-items: center;
  transition:all 0.3s ease;
  opacity: 1;
  box-sizing: border-box;
}

li:hover {
  opacity: 0.5;
}

li:last-child {
  margin-right: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

.headerpicture {
  display: flex;
  width: 100%;
}

.kasse1 {
  background-color: white;
  height: 120px;
  padding: 30px;
  font-family: "Lato-Regular";
  font-size: 0.7vw;
}
header#header-forside {
  background: url("../images/header-images/header-forside.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  position: relative;
}
header#header-forum {
  background: url("../images/header-images/header-forum.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  margin: auto;
  position: relative;
}
header#header-opgaver {
  background: url("../images/header-images/header-opgaver.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  margin: auto;
  position: relative;
}
header#header-materialer {
  background: url("../images/header-images/header-materialer.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  margin: auto;
  position: relative;
}
header#header-minprofil {
  background: url("../images/header-images/header-minprofil.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  margin: auto;
  position: relative;
}
#header_container {
  display: flex;
  width: 80%;
  max-width: 1366px;
  height: auto;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
}
#header-cover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: rgb(4,76,127, 0.6)
}
h1#page-title {
  color: #fff;
  font-size: 40px;
  font-family: "Lato-Regular";
  margin: 0;
}
#container {
  background-color: #216393;
  width: 100%;
  margin: auto;
}

.image_section1 {
  margin: 28px;
  flex: 1;
  transition:all 0.3s ease;
  box-shadow: 2px 2px 5px #747474;
}

.image_section1:hover {
  opacity: 0.8;

}

.section_container {
background-color: #E4ECF2;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 40px 0px 40px 0px;
}

.boks {
  width: 650px;
  height: 180px;
  background-color: white;
  font-family: "Lato-Regular";
  padding: 3px; /* Lille kant rundt om billedet i boksen */
  margin: 10px 10px 10px 10px;
  box-shadow: 2px 2px 3px #c4c4c4;
}

.boks h2 {
  float: left;
  margin: 5px 0px 0px 10px;
  padding: 0px;
  width: 360px;
}

p.beskrivelse {
  float: left;
  margin: 10px 0px 0px 10px;
  width: 360px;
}

p.overskrift {
  float: left;
  /* margin: 15px 0px 0px 10px; */
  font-weight: bold;
  padding: 0px;
  width: 360px;
  margin: 10px 0px 0px 10px;
}

p.comment {
  float: right;
  margin: 10px 30px 0px 10px;
  background-color: #044C7F;
  padding: 4px;
  color: white;
}

.tilpas {
  height: 180px;
  width: 180px;
  float: left;
}

footer {
  background-color: #044C7F;
  width: 100%;
  float: left;
  color: white;
  font-family: "Lato-Regular";
}

.flex {
  /* padding-left: 100px; */
  display: flex;
}

.justify-center {
  justify-content: center;
  padding: 20px;
}

.flytte {
margin-left: 150px;
}

#socialmedia { /* Definer og placer */
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  background-color: #044C7F;
  display: block;

}
#socialmedia a { /* Ikoner farve */
  color: white;
  text-decoration: none;
}
#socialmedia a:hover { /* Når man holder over ikonerne skifter de farve */
  color: #00a19b;
}
/**************************MATERIALER*************************/
#wrapper {
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  min-width: 1024px;
  flex-direction: row;
  background-color: #B4D0E0;
}
#aside-kurser {
  background: #E4ECF2;
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
#col-2 {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 0px 0px 0px 20px;
}
#content {
  display: flex;
  flex-direction: row;
}
#section_aarsplaner {
  flex: 1;
  background-color: #E4ECF2;
  margin: 20px 10px 0px 0px;
  border-radius: 20px;
  box-sizing: border-box;
}
#emnedage {
  background: #E4ECF2;
  flex: 1;
  margin: 20px 0px 0px 10px;
  border-radius: 20px;
}
#section-lektionsplaner {
  background: #E4ECF2;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-evenly;
  border-radius: 0px 0px 20px 20px;
}
/* ******************************************* */
.kursus {
  max-width: 421px;
  min-height: 180px;
  background-color: #f1f1f2;
  margin: 20px 20px 0px 20px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.kursus-billede {
  float: left;
}
.kursus-beskrivelse {
  width: 245px;
  float: right;
  padding-left: 10px;
  font-family: "Lato-Regular";
}
.lektionsplan {
  width: 230px;
  height: 300px;
  background-color: #044C7F;
  margin: 60px 0px 60px 0px;
  border-radius: 20px 20px 0px 0px;
}
.lektionsplan-billede {
  width: 100%;
  height: 140px;
  background-color: brown;
  border-radius: 20px 20px 0px 0px;
}
.lektionsplan-beskrivelse {
  color: #fff;
  font-family: "Lato-Regular";
  font-size: 16px;
  padding: 10px;
}
h1.box-title {
  width: 100%;
  height: 70px;
  background-color: #044C7F;
  color: #fff;
  box-sizing: border-box;
  font-family: "Lato-Regular";
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.aarsplaner-beskrivelse1 {
  float: left;
  width: 40%;
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 24px;
  padding: 40px 30px 60px 30px;
  text-align: center;
}
.aarsplaner-beskrivelse2 {
  float: right;
  width: 40%;
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 24px;
  padding: 40px 30px 60px 30px;
  text-align: center;
}
.emnedage-beskrivelse1 {
  float: left;
  width: 40%;
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 24px;
  padding: 40px 30px 60px 30px;
  text-align: center;
}
.emnedage-beskrivelse2 {
  float: right;
  width: 40%;
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 24px;
  padding: 40px 30px 60px 30px;
  text-align: center;
}
