* {
  margin: 0;
  padding: 0;
}
body {
  /* font-family:  */

}

@font-face {
font-family: "Lato-Regular";
src: url("../fonts/Lato-Regular.ttf")
}

@font-face {
font-family: "CabinSketch-Regular";
src: url("../fonts/CabinSketch-Regular.ttf")
}

@font-face {
font-family: "Lato-Light";
src: url("../fonts/Lato-Light.ttf")
}

.logo {
margin-left: 2%;
margin-top: 2%;
}

li.active {
opacity: 0.5;
}

nav {
height: auto;
width: 100%;
display: flex;
justify-content: flex-end;
}

#nav_undersidebar {
height: 20px;
width: 100%;
background-color: #044C7F;
margin: auto;
}

li a {
text-decoration: none;
font-size: 20px;
color: white;
font-family: "Lato-Regular";
}


li {
display: flex;
list-style: none;
width: 160px;
height: 40px;
background-color: #044C7F;
margin: 0px 3px 0px 0px;
justify-content: center;
align-items: center;
transition:all 0.3s ease;
opacity: 1;
box-sizing: border-box;
}

li:hover {
opacity: 0.5;
}

li:last-child {
margin-right: 0;
}

ul {
display: flex;
flex-wrap: wrap;
}

.headerpicture {
display: flex;
width: 100%;
position: relative;
}

.picture-container {
position: relative;
text-align: center;
}

.picture-container .text-on-picture {
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
opacity: 0;
font-family: "Lato-Regular";
font-weight: bold;
font-size: 30px;
}

.picture-container:hover .text-on-picture {
opacity: 1;
}

.text-on-picture {
transition:all 0.3s ease;
text-shadow: 3px 3px 3px #666;
color: white;
}

.kasse1 {
background-color: white;
height: 120px;
padding: 30px;
font-family: "Lato-Light";
font-weight: 500;
font-size: 12px;
}

.nyhedtekst {
margin-top: 10px;
}


header#header-forside {
  background: url("../images/header-images/header-forside.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  position: relative;
}
header#header-forum {
  background: url("../images/header-images/header-forum.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  margin: auto;
  position: relative;
}
header#header-opgaver {
  background: url("../images/header-images/header-opgaver.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 375px;
  margin: auto;
  position: relative;
}
header#header-materialer {
  background: url("../images/header-images/header-materialer.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  margin: auto;
  position: relative;
}
header#header-minprofil {
  background: url("../images/header-images/header-minprofil.jpg") center no-repeat;
  width: 100%;
  height: 375px;
  margin: auto;
  position: relative;
}
#header_container {
  display: flex;
  width: 80%;
  max-width: 1366px;
  height: auto;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
}
#header-cover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 120px;
  padding-left: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  background-color: rgb(4,76,127, 0.6)
}
h1#page-title {
  color: #fff;
  font-size: 40px;
  font-family: "Lato-Regular";
  margin: 0;
}
#container {
  background-color: #216393;
  width: 100%;
  margin: auto;
}

.image_section1 {
  margin: 28px;
  flex: 1;
  transition:all 0.3s ease;
  box-shadow: 2px 2px 5px #747474;
}

.image_section1:hover {
  opacity: 0.8;
}

.section_container {
background-color: #E4ECF2;
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 40px 0px 40px 0px;
}

.boks-person {
  width: 650px;
  height: 180px;
  background-color: white;
  font-family: "Lato-Regular";
  padding: 3px; /* Lille kant rundt om billedet i boksen */
  margin: 10px 10px 10px 10px;
  box-shadow: 2px 2px 3px #c4c4c4;
}

.boks-person h2 {
  float: left;
  margin: 5px 0px 0px 10px;
  padding: 0px;
  width: 360px;
}

p.beskrivelse {
  float: left;
  margin: 10px 0px 0px 10px;
  width: 360px;
  font-family: "Lato-Light"
}

p.overskrift {
  float: left;
  /* margin: 15px 0px 0px 10px; */
  font-weight: 600;
  padding: 0px;
  width: 360px;
  margin: 10px 0px 0px 10px;
  font-family: "Lato-Regular"
}

a.comment {
  float: right;
  margin: 10px 15px 0px 15px;
  background-color: #044C7F;
  color: white;
  text-decoration: none;
  transition:all 0.3s ease;
}

.boks-person a {
  padding: 8px;
}

a.comment:hover {
  opacity: 0.5;
}

.tilpas {
  height: 180px;
  width: 180px;
  float: left;
}

footer {
  background-color: #04619d;
  width: 100%;
  float: left;
  color: white;
  font-family: "Lato-Regular";
}

.flex {
  /* padding-left: 100px; */
  display: flex;
}

.justify-center {
  justify-content: center;
  padding: 20px;
}

.flytte {
margin-left: 150px;
}

.tekst_footer {
  line-height: 30px;
  font-style:
}

.footer_tekst {
  line-height: 30px;
  font-style:
}

.tekst_footer:hover {
  color: #00a19b;
}

#socialmedia { /* Definer og placer */
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  background-color: #044C7F;
  display: block;

}
#socialmedia a { /* Ikoner farve */
  color: white;
  text-decoration: none;
}
#socialmedia a:hover { /* Når man holder over ikonerne skifter de farve */
  color: #00a19b;
}
/**************************FORUM******************************/
#wrapper-forum {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  background-color: #B4D0E0;
}
.forum-container {
  width: 100%;
  background-color: #f1f1f2;
  border-radius: 20px;
  margin: 0px 20px 20px 20px;
}
.traad-container {
  background-color: white;
  margin: 20px;
  padding: 20px;
}
h1.traad-titel {
  color: #6b6b6b;
  font-family: "Lato-Regular";
  font-size: 20px;
  padding-bottom: 10px;
}
#emne-container {
  background-color: #E4ECF2;
  border-radius: 20px;
}
.col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 0px;
}
.col-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 10px;
}
p.forum-beskrivelse {
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 16px;
}
p.forum-pagenumber {
  text-align: center;
  color: #6b6b6b;
  font-family: "Lato-Regular";
  font-size: 18px;
  padding-bottom: 20px;
}
.post-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.post-eksempel {
  max-width: 1200px;
  flex: 3;
  background-color: #E4ECF2;
  margin: 0px 0px 0px 20px;
  border-radius: 20px;
}
.post-bruger {
  min-width: 250px;
  max-width: 400px;
  background-color: #E4ECF2;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bruger-img {
  width: 250px;
  height: auto;
}
#wrapper-traad {
  background-color: #B4D0E0;
  padding: 20px;
  box-sizing: border-box;
}
p.boks-tekst {
  padding: 20px;
  box-sizing: border-box;
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 16px;
}
p.bruger-beskrivelse {
  box-sizing: border-box;
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 16px;
}
#post-kommentar {
  max-width: 1510px;
  height: 300px;
  margin: 20px auto auto auto;
}
#tilfoej-kommentar {
  width: 100%;
  height: 200px;
  font-family: "Lato-Regular";
  font-size: 16px;
  resize: none;
  border-style: none;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}
#knap-tilfoejkommentar {
  width: 150px;
  height: 44px;
  background-color: #216393;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lato-Regular";
  color: #fff;
  float: right;
  margin: 10px 0px 0px 0px;
  border-style: none;
}
#knap-tilfoejkommentar:hover {
  background-color: #
}
/**************************MATERIALER*************************/
#wrapper {
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  background-color: #E4ECF2;
}
#aside-kurser {
  background: #f1f1f2;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  padding: 0px 0px 20px 0px;
  box-sizing: border-box;
}
#col-2 {
  display: flex;
  flex-direction: column;
  flex: 3;
  margin: 0px 0px 0px 20px;
}
#content {
  display: flex;
  flex-direction: row;
}
#section_aarsplaner {
  flex: 1;
  background-color: #f1f1f2;
  margin: 20px 10px 0px 0px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#section_emnedage {
  flex: 1;
  background-color: #f1f1f2;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px 0px 10px;
}
#section-lektionsplaner {
  background: #f1f1f2;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
  padding: 40px 20px 40px 20px;
  box-sizing: border-box;
}
/* ********************************************/
/**************OPGAVER*************************/
#wrapper-opgaver {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #B4D0E0;
}
#opgaver-container {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.img-opgave1 {
  background-image: url("../images/opgaver/001.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave2 {
  background-image: url("../images/opgaver/002.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave3 {
  background-image: url("../images/opgaver/003.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave4 {
  background-image: url("../images/opgaver/004.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave5 {
  background-image: url("../images/opgaver/005.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave6 {
  background-image: url("../images/opgaver/006.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave7 {
  background-image: url("../images/opgaver/007.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave8 {
  background-image: url("../images/opgaver/008.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave9 {
  background-image: url("../images/opgaver/009.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave10 {
  background-image: url("../images/opgaver/010.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave11 {
  background-image: url("../images/opgaver/011.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.img-opgave12 {
  background-image: url("../images/opgaver/012.png");
  width: 250px;
  height: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #fff;
  transition:all 0.3s ease;
}
.opgave-boks {
  width: 400px;
  height: 250px;
  background-color: #044C7F;
  border-radius: 20px 20px 0px 0px;
  margin: 20px;
}
.opgave-boks a {
  text-decoration: none;
}
.opgave-billede {
  width: 100%;
  height: 190px;
  border-radius: 20px 20px 0px 0px;
}
#opgaver-container .img-opgave1, .img-opgave2, .img-opgave3, .img-opgave4, .img-opgave5, .img-opgave6, .img-opgave7, .img-opgave8, .img-opgave9, .img-opgave10, .img-opgave11, .img-opgave12 {
  font-family: "CabinSketch-Regular";
  text-decoration: none;
}


#opgaver-container .img-opgave1:hover, .img-opgave2:hover, .img-opgave3:hover, .img-opgave4:hover, .img-opgave5:hover, .img-opgave6:hover, .img-opgave7:hover, .img-opgave8:hover, .img-opgave9:hover, .img-opgave10:hover, .img-opgave11:hover, .img-opgave12:hover {
  opacity: 0.5;
}

/**********************************************/
.kursus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 420px;
  background-color: #ffffff;
  margin: 20px 20px 0px 20px;
  border-radius: 20px;
  box-sizing: border-box;
}
.kursus-billede {
  width: 80px;
  height: 80px;
  padding: 10px 0px 0px 10px;
}
p.kursus-beskrivelse {
  max-width: 196px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Lato-Regular";
  border-radius: 20px;
}
.lektionsplan {
  max-width: 230px;
  height: 300px;
  background-color: #044C7F;
  border-radius: 20px 20px 0px 0px;
  margin: 10px;
}
.lektionsplan-billede {
  width: 100%;
  height: auto;
  background-color: brown;
  border-radius: 20px 20px 0px 0px;
}
.boks-hvidtekst {
  color: #fff;
  font-family: "Lato-Regular";
  font-size: 30px;
  box-sizing: border-box;
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boks-opgtekst {
  color: #fff;
  font-family: "CabinSketch-Regular";
  font-size: 30px;
  box-sizing: border-box;
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1.boks-titel {
  width: 100%;
  height: 70px;
  background-color: #044C7F;
  color: #fff;
  box-sizing: border-box;
  font-family: "Lato-Regular";
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
}
.boks {
  background-color: #f1f1f2;
  border-radius: 20px;
  flex: 1;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.boks-tekst_left {
  width: 40%;
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 24px;
  padding: 20px;
}
.boks-tekst_right {
  width: 40%;
  color: #044C7F;
  font-family: "Lato-Regular";
  font-size: 24px;
  padding: 20px;
}
.opgave-container {
  width: 400px;
  height: 310px;
  margin: 20px 0px 20px 15px;
}
.opgave-container a {
  text-decoration: none;
}
.opgave-beskrivelse {
  width: 400px;
  height: 60px;
  background-color: #044C7F;
  font-family:"CabinSketch-Regular";
  font-size: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.opgave-img {
  width: 400px;
  height: 250px;
}
.opgave-row1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.opgave-row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0px 0px 0px;
}
.row-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.brugernavn {
  color: #6b6b6b;
  font-family: "Lato-Regular";
  font-size: 20px;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
}
