* {
  margin: 0;
  padding: 0;
}
body {
  /* font-family:  */
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf")
}

.header {
  background-color: black;
  width: 100%;
  height: 400px;
  margin: auto;
  clear: both;
}

.logo {
padding: 20px;
}

nav {
  height: 40px;
  float: right;
}


li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

li {
  list-style: none;
  width: 110px;
  height: 40px;
  background-color: #044C7F;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

ul {
  display: flex;
}

.container {
  background-color: #B4D0E0;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.section_container {
/* background-color: green; */
width: 1000px;
height: 100vh;
display: flex;
margin: auto;
flex-wrap: wrap;
justify-content: center;
padding: 30px;
}

.justify-boks {
  justify-content: center;
  margin-left: auto;

}

.boks {
  width: 450px;
  height: 180px;
  background-color: white;
  font-family: "Lato-Regular";

}

.boks h2 {
  float: left;
  margin: 5px 0px 0px 10px;
  padding: 0px;
}

p.beskrivelse {
float: left;
margin: 10px 0px 0px 10px;
}

p.overskrift {
  float: left;
  margin: 15px 0px 0px 10px;
  font-weight: bold;
}

p.comment {
  float: left;
  margin: 10px 0px 0px 10px;
  background-color: #B4D0E0;
  padding: 4px;
}




.tilpas {
  height: 180px;
  width: 180px;
  float: left;
}


footer {
  background-color: #216393;
  width: 100%;
  float: left;
  color: white;
  font-family: "Lato-Regular";
}

.flex {
  /* padding-left: 100px; */
  display: flex;
}

.justify-center {
  justify-content: center;
  padding: 20px;
}

.flytte {
margin-left: 150px;
}

#socialmedia { /* Definer og placer */
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  background-color: #044C7F;
  display: block;

}
#socialmedia a { /* Ikoner farve */
  color: white;
  text-decoration: none;
}
#socialmedia a:hover { /* Når man holder over ikonerne skifter de farve */
  color: #00a19b;
}
